* {
    margin: 0px;
    padding: 0px;
}

body {
	background-color: #00001a; // !important;
	color: #fff; //!important;
	font-family: 'Roboto', sans-serif;
}

.bg-white {
    background-color: #fff !important;
}

.nav-container {
	/*display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;*/
    max-width: 80%;
    margin: 0px auto;
}
#brand {
	position: absolute;
	left: 20%;
	top: 1em;
	background-color: #fff !important;
}
#brand img {
	position: relative;
	top: 4px;
}
.main-menu {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toend.main-menu {
	justify-content: flex-end;
}
.main-menu a.item {
	font-size: 12px;
	color: #777;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 7px;
	text-transform: uppercase;
	border-top: 3px solid #fff;
}

.main-menu a:hover {
	color: #000;
}

.main-menu a:active {
	color: #000;
	border-top: 3px solid #ff1a1a;
}

.main-menu.section {
    flex-direction: column;
    align-items: center;
}

.section {
	padding: 20px 0px;
}

h1, h3 {
	font-size: 3em;
	margin: 1em 0em;
	font-weight: 400;
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

.section a {
	text-decoration: none;
	color: #fff;
}
.section a:hover {
	text-decoration: none;
	color: #00DCFF;
}
.popup{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;

  display: none;
  justify-content: center;
  align-items: center;
}
.popup.show {
	display: flex;
}
.popup__body{
  width: 500px;
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px;
  height: 300px;
  background: #fff;
  display: flex;
}
.popup__item{
  display: none;
}
.popup__item.show{
  display: block;
}
.popup__close {
  position: absolute;
  top: 5px;
  right: 10px;
}
.popup__save {
  position: absolute;
  top: 5px;
  right: 50px;
}
.popup__save2 {
  position: absolute;
  top: 5px;
  right: 87px;
}
.popup__container {
	display: flex;
	color: #000;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
}
.buttons {
  display: flex;
}
.editable {
	display: none;
}
.editable.show {
	display: flex;
    position: absolute;
    right: 10%;
}
#totop {
	width: 54px;
	height: 54px;
	display: block;
	position: fixed;
	right: 7%;
	bottom: 4%;
	
}
#totoppic {
	background: url("../images/up-chevron-button.png") no-repeat;
	background-color: #ffffff;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	box-shadow: inset 0px 0px 1px #ffffff;
	box-shadow: inset 0px 0px 3px #ffffff;
}
footer {
	justify-content: center !important;
	color: #000;
	padding: 20px;
}
footer p {
	text-align: center;
}